.date-grid {
  $cell-size: 2.5em;

  display: grid;
  grid-template-columns: repeat(7, $cell-size);
  grid-template-rows: repeat(7, $cell-size);
  user-select: none;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div:nth-child(-n + 7) {
    font-weight: bold;
    border-bottom: 0.15em solid rgba(0, 0, 0, 0.3);
  }

  a:nth-child(n + 7) {
    border-radius: 50%;
    border-style: none;

    &.is-outside-month {
      color: var(--bulma-button-static-color);
    }
  }
}
