<div class="card block is-fullheight">
  <div
    class="card-content p-0 is-clipped is-fullheight"
    style="position: relative"
  >
    <mgl-map
      class="is-fullheight"
      [style]="style"
      [zoom]="[6.8]"
      [center]="{lat: 52.8, lon: 9.2}"
      [cursor]="clusterHoverId() || hover()?.waterRight ? 'pointer' : 'grab'"
      [fitBounds]="$any(fitBounds())"
      (click)="clusterHoverId() && fitBounds.set(outlineSource.polygon().bbox)"
      (click)="hover()?.waterRight && openDetails(hover()!.waterRight!)"
    >
      <ng-container controls>
        <mgl-control position="top-left" mglNavigation [showCompass]="false">
        </mgl-control>
        <mgl-control position="top-right">
          <map-layer-selection-control
            [layers]="selectLegalDepartments"
          ></map-layer-selection-control>
        </mgl-control>
      </ng-container>
      <ng-container sources>
        <mgl-geojson-source
          id="water-rights-source"
          [data]="
            filteredUsageLocations() ?? {
              type: 'FeatureCollection',
              features: [],
            }
          "
          [cluster]="true"
          #waterRightsSource
        ></mgl-geojson-source>
        <mgl-geojson-source
          id="water-rights-cluster-polygon-source"
          mglClusterPolygon
          [source]="waterRightsSource"
          [data]="outlineSource.polygon()"
          [clusterId]="clusterHoverId()"
          #outlineSource="cluster-polygon"
        ></mgl-geojson-source>
      </ng-container>
      <ng-container layers>
        <mgl-layer
          id="water-rights-symbol"
          type="symbol"
          source="water-rights-source"
          [filter]="['!=', ['get', 'cluster'], true]"
          [layout]="{
            'icon-image': 'remixicon:map-pin-2-line',
            'icon-anchor': 'bottom',
            'icon-overlap': 'always',
            'text-field': ['get', 'name'],
            'text-font': ['noto_sans_regular'],
            'text-anchor': 'top',
          }"
          (layerMouseMove)="hoverId.set($any($event.features![0].id))"
          (layerMouseLeave)="hoverId.set(undefined)"
        ></mgl-layer>
        <mgl-layer
          id="water-rights-cluster-symbol"
          type="symbol"
          source="water-rights-source"
          [filter]="['==', ['get', 'cluster'], true]"
          [layout]="{
            'icon-image': 'remixicon:pin-distance-line',
          }"
          (layerMouseMove)="clusterHoverId.set($any($event.features![0].id))"
          (layerMouseLeave)="clusterHoverId.set(undefined)"
        ></mgl-layer>
        <mgl-layer
          id="water-rights-cluster-fill"
          type="fill"
          source="water-rights-cluster-polygon-source"
          [paint]="{
            'fill-color': 'black',
            'fill-opacity': 0.2,
          }"
        ></mgl-layer>
        <mgl-layer
          id="water-rights-cluster-line"
          type="line"
          source="water-rights-cluster-polygon-source"
          [paint]="{
            'line-color': 'black',
            'line-width': 2,
          }"
        ></mgl-layer>
      </ng-container>
    </mgl-map>
  </div>
</div>
