<div *ngIf="!loggedIn()">
  <div class="buttons has-addons">
    <a 
      class="button" 
      (click)="authService.login(rememberLogin())"
    >
      <span class="icon-text">
        <span class="icon">
          <ng-icon name="remixLoginBoxLine"></ng-icon>
        </span>
        <span>Login</span>
      </span>
    </a>
    <button class="button" id="remember">
      <span 
        class="icon"
        [class.has-text-primary]="rememberLogin()"
        [class.has-opacity-60]="!rememberLogin()"
        (click)="toggleRemember()"
      >
        <ng-icon size="1.6em" name="remixRotateLockFill"></ng-icon>
      </span>
    </button>
  </div>
</div>

<div
  *ngIf="userDetails()"
  class="dropdown is-right"
  [class.is-active]="userDropdownActive()"
>
  <div class="dropdown-trigger" (click)="userDropdownActive.toggle()">
    <div 
      id="user-profile-button" 
      class="button"
      [style.background-image]="userAvatar()"
    ></div>
  </div>
  <div class="dropdown-menu">
    <div class="dropdown-content">
      <div class="dropdown-item has-text-centered">
        <p class="icon-text has-text-weight-bold is-flex-wrap-nowrap">
          <span style="white-space: nowrap">
            {{ userDetails()!.name }}
          </span>
        </p>
        <p>{{ "@" + userDetails()!.username }}</p>
      </div>
      <hr class="dropdown-divider" />
      <a
        class="dropdown-item has-text-centered pr-5"
        (click)="authService.logout()"
      >
        <span class="icon-text">
          <span class="icon">
            <ng-icon name="remixLogoutBoxLine"></ng-icon>
          </span>
          <span>Logout</span>
        </span>
      </a>
    </div>
  </div>
</div>
