<div class="maplibregl-ctrl-group p-1 pl-2 pr-2">
  @let input = data();
  <p class="has-text-weight-bold is-size-6">{{ input.name }}</p>
  <p class="has-text-weight-semi-bold is-size-7">{{ input.key }}</p>
  <div style="height: 5em">
    @let value = this.value();
    <p class="level is-justify-content-center" style="height: 100%">
      <span
        class="level-item is-size-1"
        style="flex-grow: unset; margin-bottom: 0.5rem"
      >
        &#8721;
      </span>
      <span
        class="level-item"
        style="flex-grow: unset"
        [class.is-skeleton]="value == null"
      >
        @switch (value) {
          @case (0) {
            {{ "growl.average-withdrawal.na" | translate }}
          }
          @case (null) {
            123.456.789 U
          }
          @default {
            {{ value | number: "1.0-0" : lang() }}&ThinSpace;m³/a
          }
        }
      </span>
    </p>
  </div>
</div>
