<div
  class="is-flex is-align-items-center is-justify-content-center is-fullwidth is-fullheight"
>
  <content class="columns is-fullwidth is-justify-content-center">
    <div class="column is-narrow">
      <figure class="image is-square" style="height: 20em">
        <img src="/brand/svg/alternative_blue_white.svg" />
      </figure>
    </div>
    <div
      class="column is-narrow is-flex is-flex-direction-column is-justify-content-center"
    >
      <h1 class="title is-flex-wrap-nowrap">WISdoM-OSS</h1>
      <p class="subtitle">Water Innovation Solution Management</p>
      <a
        class="button is-rounded"
        href="https://github.com/wisdom-oss"
        target="_blank"
      >
        <span class="is-fullwidth" style="display: inline-flex">
          <span
            class="is-justify-content-center"
            style="display: inline-flex; flex-grow: 10"
          >
            <span class="icon">
              <ng-icon name="remixGithubFill"></ng-icon>
            </span>
            <span>Github</span>
          </span>
          <span class="icon">
            <ng-icon name="remixExternalLinkFill"></ng-icon>
          </span>
        </span>
      </a>
    </div>
  </content>
</div>
