<div class="card is-fullheight" style="overflow: auto">
  <div class="card-content p-0">
    <div class="tabs is-fullwidth is-toggle">
      <ul>
        <li routerLinkActive="is-active">
          <a routerLink="overview">
            <span class="icon">
              <ng-icon name="remixProfileLine"></ng-icon>
            </span>
            <span translate>digitalTwin.tab.overview</span>
          </a>
        </li>
        <li routerLinkActive="is-active">
          <a routerLink="history">
            <span class="icon">
              <ng-icon name="remixLineChartLine"></ng-icon>
            </span>
            <span translate>digitalTwin.tab.history</span>
          </a>
        </li>
        <li routerLinkActive="is-active">
          <a routerLink="simulation">
            <span class="icon">
              <ng-icon name="remixMovieLine"></ng-icon>
            </span>
            <span translate>digitalTwin.tab.simulation</span>
          </a>
        </li>
        <li routerLinkActive="is-active">
          <a routerLink="control">
            <span class="icon">
              <ng-icon name="remixGamepadLine"></ng-icon>
            </span>
            <span translate>digitalTwin.tab.control</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content p-0">
    <router-outlet></router-outlet>
  </div>
</div>
