<div class="maplibregl-ctrl-group p-1 pl-2">
  @let display = data();
  @if (display) {
    <div>
      <p class="has-text-weight-bold is-size-6">{{display.name}}</p>
      <table>
        <tr>
          <th class="has-text-weight-bold has-text-dark">Station ID:</th>
          <td>{{display.station}}</td>
        </tr>
        <tr>
          <th class="has-text-weight-bold has-text-dark">Date:</th>
          <td>{{display.date.toDate() | date:'longDate'}}</td>
        </tr>
        @if (display.waterLevelNHN) {
          <tr>
            <th class="has-text-weight-bold has-text-dark">Water Level NHN:</th>
            <td>{{display.waterLevelNHN}}&ThinSpace;m</td>
          </tr>
        }
        @if (display.waterLevelGOK) {
          <tr>
            <th class="has-text-weight-bold has-text-dark">Water Level GOK:</th>
            <td>{{display.waterLevelGOK}}&ThinSpace;m</td>
          </tr>
        }
      </table>
    </div>
  }
</div>