<div class="card block is-fullheight is-flex is-flex-direction-column">
  <div class="card-content p-0 is-clipped is-flex-grow-1 is-fullheight">
    <mgl-map
      class="is-fullheight"
      [style]="style"
      [zoom]="[zoom]"
      [center]="{lat: 53.1434501, lon: 8.2145521}"
      [canvasContextAttributes]="{preserveDrawingBuffer: true}"
      [attributionControl]="false"
      (zoomEvt)="onZoom($event)"
    >
      <mgl-control
        mglNavigation
        [showCompass]="false"
        position="top-left"
      ></mgl-control>
      <mgl-control
        mglAttribution
        position="bottom-right"
        [compact]="true"
        [customAttribution]="[attribution()]"
      ></mgl-control>
      <mgl-control position="bottom-left">
        <growl-legend-control></growl-legend-control>
      </mgl-control>
      <mgl-geojson-source id="groundwater-bodies-source">
        @for (
          body of groundwaterBodies | async;
          track body.key
        ) {
          <mgl-feature [geometry]="body.geometry"></mgl-feature>
        }
      </mgl-geojson-source>
      <!-- We cannot render fill and line at the same time. -->
      <mgl-layer
        id="groundwater-bodies-layer-fill"
        type="fill"
        source="groundwater-bodies-source"
        [paint]="{
          'fill-color': '#0088aa',
          'fill-opacity': 0.3,
        }"
      ></mgl-layer>
      <mgl-layer
        id="groundwater-bodies-layer-line"
        type="line"
        source="groundwater-bodies-source"
        [paint]="{
          'line-color': '#0088aa',
          'line-width': 3,
        }"
      ></mgl-layer>
      @for (
        station of groundwaterMeasurementStations | async;
        track station.key
      ) {
        <mgl-marker
          [lngLat]="{
            lat: station.geometry.coordinates[1],
            lon: station.geometry.coordinates[0],
          }"
        >
          <growl-groundwater-level-station-marker
            [size]="markerSize()"
            color="red"
          ></growl-groundwater-level-station-marker>
        </mgl-marker>
      }
    </mgl-map>
  </div>
  <div class="card-content">stuff here</div>
</div>
