<div class="card block is-fullheight is-flex is-flex-direction-column">
  <div class="card-content p-0 is-clipped is-flex-grow-1 is-fullheight">
    <mgl-map
      class="is-fullheight"
      [style]="style"
      [zoom]="[zoom]"
      [center]="{lat: 52.8, lon: 9.2}"
      [canvasContextAttributes]="{preserveDrawingBuffer: true}"
      [attributionControl]="false"
    >
      @let measurementStations = measurementStationsWithData();
      @let bodies = groundwaterBodies();
      @let municipals = ndsMunicipals();
      @let usageLocations = waterRightUsageLocations();
      @let oldUsageLocations = oldWaterRightUsageLocations();
      @let groundwaterInfoData = bodyInfo();
      @let municipalInfoData = municipalInfo();
      @let stationInfoData = stationInfo();
      <ng-container images>
        @for (color of measurementColors | keyvalue; track color.key) {
          <mgl-image
            [id]="'measurement-classification-' + color.key + '-image'"
            [url]="
              '/public/generated/groundwater-level-station-marker/' +
              color.key +
              '.png'
            "
          ></mgl-image>
        }
      </ng-container>
      <ng-container controls>
        <mgl-control position="top-right">
          <growl-layer-selection-control
            [layers]="selectedLayers"
          ></growl-layer-selection-control>
        </mgl-control>
        <mgl-control
          mglNavigation
          [showCompass]="false"
          position="top-left"
        ></mgl-control>
        <mgl-control
          mglAttribution
          position="bottom-right"
          [compact]="true"
          [customAttribution]="[attribution()]"
        ></mgl-control>
        <!-- using ng-containers we can ensure this ordering -->
        <ng-container>
          @if (selectedLayers.groundwaterLevelStations()) {
            <mgl-control position="bottom-left">
              <growl-legend-control></growl-legend-control>
            </mgl-control>
          }
        </ng-container>
        <ng-container>
          @if (groundwaterInfoData) {
            <mgl-control position="bottom-left">
              <growl-display-info-control
                [data]="groundwaterInfoData"
              ></growl-display-info-control>
            </mgl-control>
          }
        </ng-container>
        <ng-container>
          @if (municipalInfoData) {
            <mgl-control position="bottom-left">
              <growl-display-info-control
                [data]="municipalInfoData"
              ></growl-display-info-control>
            </mgl-control>
          }
        </ng-container>
        <ng-container>
          @if (stationInfoData) {
            <mgl-control position="bottom-left">
              <growl-display-info-control
                [data]="stationInfoData"
              ></growl-display-info-control>
            </mgl-control>
          }
        </ng-container>
      </ng-container>
      <ng-container sources>
        <mgl-geojson-source
          id="groundwater-bodies-source"
          [data]="bodies"
        ></mgl-geojson-source>
        <mgl-geojson-source id="nds-municipals-source" [data]="municipals">
        </mgl-geojson-source>
        <mgl-geojson-source
          id="groundwater-measurement-stations-source"
          [data]="measurementStations"
        ></mgl-geojson-source>
        <mgl-geojson-source
          id="water-right-usage-locations-source"
          [data]="usageLocations"
        >
        </mgl-geojson-source>
        <mgl-geojson-source
          id="old-water-right-usage-locations-source"
          [data]="oldUsageLocations"
        >
        </mgl-geojson-source>
      </ng-container>
      <ng-container layers *ngIf="selectedLayersUpdate()">
        <ng-container groundwater-bodies>
          @if (bodies.features.length && selectedLayers.groundwaterBodies()) {
            <mgl-layer
              id="groundwater-bodies-layer-fill"
              type="fill"
              source="groundwater-bodies-source"
              [paint]="{
                'fill-color': '#0088aa',
                'fill-opacity': 0.3,
              }"
              (layerMouseMove)="bodySelected.set(+$event.features![0]!.id!)"
              (layerMouseLeave)="bodySelected.set(null)"
            ></mgl-layer>
            <mgl-layer
              id="groundwater-bodies-layer-line"
              type="line"
              source="groundwater-bodies-source"
              [paint]="{
                'line-color': '#0088aa',
                'line-width': 3,
              }"
            ></mgl-layer>
          }
        </ng-container>
        <ng-container nds-municipals>
          @if (municipals.features.length && selectedLayers.ndsMunicipals()) {
            <mgl-layer
              id="nds-municipals-layer-fill"
              type="fill"
              source="nds-municipals-source"
              [paint]="{'fill-opacity': 0}"
              (layerMouseMove)="
                municipalSelected.set(+$event.features![0]!.id!)
              "
              (layerMouseLeave)="municipalSelected.set(null)"
            ></mgl-layer>
            <mgl-layer
              id="nds-municipals-layer-line"
              type="line"
              source="nds-municipals-source"
              [paint]="{
                'line-color': 'black',
                'line-width': 2,
              }"
            ></mgl-layer>
          }
        </ng-container>
        <ng-container groundwater-measurement-stations>
          @if (
            measurementStations.features.length &&
            selectedLayers.groundwaterLevelStations()
          ) {
            @for (color of measurementColors | keyvalue; track color.key) {
              <mgl-layer
                [id]="
                  'groundwater-measurement-stations-layer-' +
                  color.key +
                  '-symbol'
                "
                type="symbol"
                source="groundwater-measurement-stations-source"
                [layout]="{
                  'icon-image':
                    'measurement-classification-' + color.key + '-image',
                  'icon-size': markerSize,
                  'icon-ignore-placement': true,
                  'symbol-z-order': 'source',
                }"
                [filter]="['==', ['get', 'classification'], '' + color.key]"
                (layerMouseMove)="
                  stationSelected.set($event.features![0]!.properties['key'])
                "
                (layerMouseLeave)="stationSelected.set(null)"
              ></mgl-layer>
            }
          }
        </ng-container>
        <ng-container water-right-usage-locations>
          @if (
            usageLocations.features.length &&
            selectedLayers.waterRightUsageLocations()
          ) {
            <mgl-layer
              id="water-right-usage-locations-layer-symbol"
              type="symbol"
              source="water-right-usage-locations-source"
            ></mgl-layer>
          }
        </ng-container>
        <ng-container old-water-right-usage-locations>
          @if (
            oldUsageLocations.features.length &&
            selectedLayers.oldWaterRightUsageLocations()
          ) {
            <mgl-layer
              id="old-water-right-usage-locations-layer-symbol"
              type="symbol"
              source="old-water-right-usage-locations-source"
            ></mgl-layer>
          }
        </ng-container>
      </ng-container>
    </mgl-map>
  </div>
  <div class="card-content">stuff here</div>
</div>
