<div
  class="maplibregl-ctrl-group p-1"
  (mouseenter)="collapsed.set(false)"
  (mouseleave)="collapsed.set(true)"
>
  @if (collapsed()) {
    <span class="icon is-medium">
      <ng-icon size="2em" name="remixStackFill"></ng-icon>
    </span>
  } @else {
    <table>
      @for (layer of layers() | keyvalue; track layer) {
        <tr>
          <th class="has-text-dark">
            <input
              [id]="layer.key"
              type="checkbox"
              class="switch is-thin"
              (click)="layer.value.toggle()"
              [checked]="layer.value()"
            />
            <label [for]="layer.key" class="is-size-7" style="height: 1.5em">{{
              "growl.layer." + layer.key | translate
            }}</label>
          </th>
        </tr>
      }
    </table>
  }
</div>
