<div class="card my-4">
  <div class="card-content">
    <div class="is-fullwidth has-text-centered my-4">
      <p class="is-size-3 my-4" translate>digitalTwin.header.waterLevel</p>
    </div> 

    <div class="is-flex is-flex-direction-row is-fullwidth my-4">
      <ng-icon name="remixContrastDrop2Line" size="2.5rem"/>
      <div class="is-flex is-flex-direction-column is-justify-content-center">
        <p class="mx-4"><span translate>digitalTwin.label.setStartLevel</span>: </p>
      </div>
      <input
        class="slider is-primary m-0 mx-4" style="width: 20rem;"
        step="1" min="0" max="100" value="{{waterLevelSlider()}}" type="range"
        (input)="waterLevelSlider.set($any($event.target).value); waterLevel.set($any($event.target).valueAsNumber)"
      />
      <div class="is-flex is-flex-direction-column is-justify-content-center">
        <p class="ml-4">{{waterLevelSlider()}} %</p>
      </div>
    </div>
  </div>
</div>
