.chart-box {
  container-type: inline-size;
  overflow-x: hidden;
  overflow-y: auto;
}

.chart-content {
  display: grid;
  grid-template:
    "title-historic title-prediction" auto
    "legend-historic legend-prediction" auto
    "chart-historic chart-prediction" minmax(20em, 1fr) / 1fr 1fr;
  gap: 1rem;

  * {
    background-color: cadetblue;
  }
}
