@use "../../../node_modules/bulma/sass/utilities/mixins" as mixins;

.outer-layout {
  container-type: inline-size;
  overflow-y: scroll;
  padding-bottom: 0;
}

.inner-layout {
  display: grid;
  grid-template:
    "resolution-0 resolution-0" auto
    "chart-historic-legend chart-predicted-legend" auto
    "chart-historic chart-predicted" minmax(20em, 1fr)
    "buttons buttons" auto
    "choices choices" auto / 1fr 1fr;

  gap: 0.75rem;

  > :last-child {
    padding-bottom: var(--bulma-box-padding);
  }

  // .cell {
  //   padding: 12px;
  //   border: 1px solid #ccc;
  //   border-radius: 8px;
  // }
}

@container (min-width: 700px) {
  .only-narrow {
    display: none;
  }
}

@container (max-width: calc(700px - 1px)) {
  .inner-layout {
    grid-template:
      "resolution-0" auto
      "chart-historic-legend" auto
      "chart-historic" max(20em, 80%)
      "buttons" auto
      "choices" auto
      "resolution-1" auto
      "chart-predicted-legend" auto
      "chart-predicted" max(20em, 80%) / 1fr;
  }

  .only-wide {
    display: none;
  }
}
