<nav class="navbar is-primary">
  <div class="container is-fullhd">
    <div class="navbar-brand is-user-select-none">
      <a class="navbar-item pt-0 pb-0" routerLink="/">
        <img id="brand-logo" src="/brand/svg/standalone_white.svg" />
        <span class="title has-text-light">WISdoM-OSS</span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item is-user-select-none">
          <a class="button" (click)="sidebarClick.emit()">
            <span class="icon is-small">
              <ng-icon name="remixMenu2Line"></ng-icon>
            </span>
          </a>
        </div>
      </div>

      <div class="navbar-end">
        <div
          class="navbar-item has-dropdown is-user-select-none"
          is-active-toggle
        >
          <div class="navbar-link">
            <p class="icon-text">
              <span class="icon">
                <ng-icon name="remixTranslate2"></ng-icon>
              </span>
              <span>English</span>
            </p>
          </div>
          <div class="navbar-dropdown">
            <div class="navbar-item">
              <a class="p-1 has-text-inherit">
                <span class="icon-text">
                  <span class="icon pr-1">
                    <img src="/twemoji/svg/1f1e9-1f1ea.svg" />
                  </span>
                  <span>Deutsch</span>
                </span>
              </a>
            </div>
            <div class="navbar-item">
              <a class="p-1 has-text-inherit">
                <span class="icon-text">
                  <span class="icon pr-1">
                    <img src="/twemoji/svg/1f1fa-1f1f8.svg" />
                  </span>
                  <span>English</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="navbar-item">
          <navbar-user></navbar-user>
        </div>
      </div>
    </div>
  </div>
</nav>
