<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered content">
      <p class="title m-0" style="font-size: 7em">WISdoM-OSS</p>
      <p class="icon-text" style="font-size: 1.5em">
        <span class="icon">
          <ng-icon name="remixMagicFill"></ng-icon>
        </span>
        <span translate="core.callback.redirect"></span>
        <span class="icon">
          <ng-icon name="remixSparkling2Fill"></ng-icon>
        </span>
      </p>
      <hr />
      <p translate="core.callback.not-working"></p>
      <a class="button" routerLink="/">
        <span class="icon-text">
          <span class="icon">
            <ng-icon name="remixHome2Fill"></ng-icon>
          </span>
          <span translate="core.callback.home"></span>
          <span class="icon">
            <ng-icon name="remixArrowGoBackFill"></ng-icon>
          </span>
        </span>
      </a>
    </div>
  </div>
</section>
