<div>
  @if(activeView() === 'model') {
    <model-view/>
  }
  @if(activeView() === 'map') {
    <div map class="is-fullwidth" style="height: 40rem">
      <div class="card is-fullheight">
        <div class="card-content p-0 is-fullheight is-clipped">
          <mgl-map
            class="is-fullheight"
            [style]="style"
            [zoom]="[12]"
            [center]="{
              lat: lat(),
              lon: long(),
            }"
          >
            <ng-container sources>
             <mgl-geojson-source
                id="locations-source"
                [data]="locations"
              >
              </mgl-geojson-source>
            </ng-container>
            <mgl-layer 
              id="locations"
              type="symbol"
              source="locations-source"
              [layout]="{'icon-image': 'remixicon:map-pin-2-fill'}"
            >
            </mgl-layer>
          </mgl-map>
        </div>
      </div>
    </div>
  }
  @if(activeView() === 'pictures') {
    <div class="is-fullwidth" style="height: 40rem">
      <div class="card is-flex is-flex-direction-row is-justify-content-space-between" style="background-color: #eee;">
        <div class="is-flex is-flex-direction-column is-justify-content-center">
          <button class="button is-text is-fullheight">
            <ng-icon name="remixArrowLeftWideLine" size="2rem"/>
          </button>
        </div>

        <img src="../../../../../public/images/BrainTankUni.jpg" style="height: 40rem; width: auto;"/>

        <div class="is-flex is-flex-direction-column is-justify-content-center">
          <button class="button is-text is-fullheight">
            <ng-icon name="remixArrowRightWideLine" size="2rem"/>
          </button>
        </div>
      </div>
    </div>
  }

  <div class="is-flex is-flex-direction-row is-justify-content-center">
    <div class="buttons has-addons">
      <button [class.is-active]="activeView() === 'model'" (click)="setActiveView('model')" class="button">
        <ng-icon name="remixCheckboxMultipleBlankFill" size="1.5rem" class="mr-2"/>
        <span translate>braintank.button.model</span>
      </button>
      <button [class.is-active]="activeView() === 'map'" (click)="setActiveView('map')" class="button">
        <ng-icon name="remixMap2Fill" size="1.5rem" class="mr-2"/>
        <span translate>braintank.button.map</span>
      </button>
      <button [class.is-active]="activeView() === 'pictures'" (click)="setActiveView('pictures')" class="button">
        <ng-icon name="remixImageFill" size="1.5rem" class="mr-2"/>
        <span translate>braintank.button.pictures</span>
      </button>
    </div>
  </div>

  <div class="card my-4">
    <div class="card-content">
      <div class="is-fullwidth has-text-centered my-4">
          <p class="is-size-3 my-4" translate>braintank.header.currentValues</p>
      </div>
      
      <div class="columns my-4">
        <div class="column is-half">
          <div class="is-flex is-flex-direction-row">
            <ng-icon name="remixTimeLine" size="2.5rem" class="mx-4"/>
            <div class="is-flex is-flex-direction-column is-justify-content-center">
              <p><span translate>braintank.label.time</span>: {{time().format('DD.MM.YYYY, HH:mm:ss')}}</p>
            </div>
          </div>
        </div>

        <div class="column is-half">
          <div class="is-flex is-flex-direction-row">
            <ng-icon name="remixContrastDrop2Line" size="2.5rem" class="mx-4"/>
            <div class="is-flex is-flex-direction-column is-justify-content-center">
              <p><span translate>braintank.header.waterLevel</span>: {{waterLevel()}}%</p>
            </div>
          </div>
        </div>
      </div>

      <div class="columns my-4">
        <div class="column is-half">
          <div class="is-flex is-flex-direction-row">
            <ng-icon name="remixWaterPercentLine" size="2.5rem" class="mx-4"/>
            <div class="is-flex is-flex-direction-column is-justify-content-center">
              @if(draining()){<p><span translate>braintank.label.drainage.yes</span>: {{drainingTime().format('HH:mm:ss')}}</p>}
              @if(!draining()){<p translate>braintank.label.drainage.no</p>}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card my-4">
    <div class="card-content">
      <div class="is-fullwidth has-text-centered my-4">
        <p class="is-size-3 my-4" translate>braintank.header.features</p>
      </div>
      
      <div class="columns my-4">
        <div class="column is-half">
          <div class="is-flex is-flex-direction-row">
            <ng-icon name="remixHome8Line" size="2.5rem" class="mx-4"/>
            <div class="is-flex is-flex-direction-column is-justify-content-center">
              <p><span translate>braintank.label.roofSize</span>: {{roofSize()}} m²</p>
            </div>
          </div>
        </div>

        <div class="column is-half">
          <div class="is-flex is-flex-direction-row">
            <ng-icon name="remixMapPin2Line" size="2.5rem" class="mx-4"/>
            <div class="is-flex is-flex-direction-column is-justify-content-center">
              <p><span translate>braintank.label.location</span>: {{lat()}}, {{long()}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card my-4">
    <div class="card-content">
      <div class="is-fullwidth has-text-centered my-4">
        <p class="is-size-3 my-4" translate>braintank.header.rainForecast</p>
      </div>
      
      <ng-container chart>
        <div class="is-fullwidth" style="height: 22rem;">
          @let optionsCurrentForecast = {
            scales: {
              x: {
                grid: {
                  display: false,
                },
              },
              y: {
                grid: {
                  display: false,
                },
                title: {
                  display: true,
                  text: 'mm',
                },
                beginAtZero: true,
                suggestedMax: 10,
              },
            },
            plugins: {
              legend: {
                display: false,
              },
            },
          };
          <canvas baseChart style="display: block; width: 100%; height: 100%;" [data]="dataCurrentForecast" [options]="optionsCurrentForecast" [type]="'bar'"></canvas>
        </div>
      </ng-container>
  </div>
</div>