<div>
  <model-view/>

  <div class="card my-4">
    <div class="card-content">
      <div class="is-fullwidth has-text-centered my-4">
          <p class="is-size-3 my-4" translate>braintank.overview.header.features</p>
      </div>
      
      <div class="columns my-4">
        <div class="column is-narrow mx-4">
          <ng-icon name="remixWaterPercentLine" size="2.5rem"/>
          <div class="is-flex is-flex-direction-column-reverse" overflow="hidden"
               style="width: 2.5rem; height:16rem; background-color: #eee; border-radius: 4px;">
              <div style="width: 100%; background-color: #0088aa; border-radius: 4px;" [style.height.%]="waterLevel()"></div>
          </div>
          <p>{{waterLevel()}}%</p>
        </div>

        <div class="column is-one-quarter mx-4">
          <div class="is-flex is-flex-direction-column is-fullheight is-justify-content-space-between">
            <div class="is-flex is-flex-direction-row is-justify-content-space-between">
              <ng-icon name="remixTimeLine" size="2.5rem"/>
              <p>{{time().format('DD.MM.YYYY, HH:mm:ss')}}</p>
            </div>
            <div class="is-flex is-flex-direction-row is-justify-content-space-between">
              <ng-icon name="remixHome8Line" size="2.5rem"/>
              <p>{{roofSize()}} m²</p>
            </div>
            <div class="is-flex is-flex-direction-row is-justify-content-space-between">
              <ng-icon name="remixMapPin2Line" size="2.5rem"/>
              <p>{{lat()}}, {{long()}}</p>
            </div>
            <div class="is-flex is-flex-direction-row is-justify-content-space-between">
              <ng-icon name="remixContrastDrop2Line" size="2.5rem"/>
              @if(draining()){<p><span translate>braintank.overview.draining.yes</span> {{drainingTime().format('HH:mm:ss')}}</p>}
              @if(!draining()){<p translate>braintank.overview.draining.no</p>}
            </div>
          </div>
        </div>
        
        <div class="column mx-4">
          <ng-container chart>
            @let options = {
              scales: {
                x: {
                  grid: {
                    display: false,
                  },
                },
                y: {
                  grid: {
                    display: false,
                  },
                },
              },
              plugins: {
                legend: {
                  display: false,
                },
              },
            };
            <div class="is-flex is-flex-direction-column is-justify-content-space-between" style="height: 20rem;">
              <div class="is-flex is-flex-direction-row is-justify-content-center">
                <ng-icon name="remixRainyLine" size="2.5rem"/>
                <p class="ml-4" translate>braintank.overview.header.rainForecast</p>
              </div>
              <canvas baseChart style="display: block; width: 100%; height: 100%;" [data]="dataTest" [options]="options" [type]="'line'"></canvas>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="is-flex is-flex-direction-row is-fullwidth is-justify-content-center my-4">
    <p class="is-size-3 my-4" translate>braintank.overview.header.daySelection</p>
  </div>

  <div class="card my-4">
    <div class="card-content">
      <div class="is-fullwidth has-text-centered my-4">
          <p class="is-size-3 my-4" translate>braintank.overview.header.waterLevel</p>
      </div>
      
      <ng-container chart>
        <div class="is-fullwidth" style="height: 22rem;">
          <canvas baseChart style="display: block; width: 100%; height: 100%;" [data]="dataTest" [options]="options" [type]="'line'"></canvas>
        </div>
      </ng-container>
  </div>

  <div class="card my-4">
    <div class="card-content">
      <div class="is-fullwidth has-text-centered my-4">
          <p class="is-size-3 my-4" translate>braintank.overview.header.drainage</p>
      </div>
      
      <ng-container chart>
        <div class="is-fullwidth" style="height: 22rem;">
          <canvas baseChart style="display: block; width: 100%; height: 100%;" [data]="dataTest" [options]="options" [type]="'line'"></canvas>
        </div>
      </ng-container>
  </div>

  <div class="card my-4">
    <div class="card-content">
      <div class="is-fullwidth has-text-centered my-4">
          <p class="is-size-3 my-4" translate>braintank.overview.header.rainForecast</p>
      </div>
      
      <ng-container chart>
        <div class="is-fullwidth" style="height: 22rem;">
          <canvas baseChart style="display: block; width: 100%; height: 100%;" [data]="dataTest" [options]="options" [type]="'line'"></canvas>
        </div>
      </ng-container>
  </div>
</div>