<div>
  <model-view-braintank
    height="calc(100vh - 12rem)"
    filename="IBC.glb"
    [cam]="{x: 0, y: 0.25, z: 2}"
    [isSimulation]="true"
    [(waterLevel)]="waterLevel"
    [(simulationParameter)]="rainForecast"
    [intervalForecast]="intervalForecast()"
  />

  <water-level
    [(waterLevelSlider)]="waterLevelSlider"
    [(waterLevel)]="waterLevel"
  />

  <hr />

  <drainage-rules [(drainageRules)]="drainageRules"></drainage-rules>

  <hr />

  <rain-forecast
    [(intervalForecast)]="intervalForecast"
    [(rainForecast)]="rainForecast"
  />
</div>
