<div class="maplibregl-ctrl-group p-1 pl-2">
  @let display = displayData();
  @if (display) {
    <div>
      <p class="has-text-weight-bold is-size-6">{{ display.title }}</p>
      @if (display.subtitle) {
        <p class="has-text-weight-semi-bold is-size-7">
          {{ display.subtitle }}
        </p>
      }
      <table>
        @for (tableData of display.table | keyvalue; track tableData.key) {
          <tr>
            <th class="has-text-weight-bold has-text-dark">
              {{ "growl.display." + tableData.key | translate }}:
            </th>
            <td>{{ tableData.value }}</td>
          </tr>
        }
      </table>
    </div>
  }
</div>
