<div
  class="card is-fullwidth is-fullheight is-clipped"
  [class.skeleton-block]="!modelLoading()"
>
  <map-layer-selection-control
    [layers]="layers"
    [collapsible]="false"
    style="position: absolute; top: 1em; left: 1em; z-index: 1"
  ></map-layer-selection-control>
  <div class="is-fullwidth is-fullheight">
    <div
      #container
      resize-observer
      (resize)="onResize()"
      (click)="onClick()"
      class="is-fullwidth is-fullheight"
      style="position: absolute; z-index: 0"
    ></div>
  </div>
</div>
