@use "../variables.scss" as var;

@media screen and (max-width: var.$fullhd) {
  aside {
    display: none;
  }
}

.is-fullheight-with-navbar {
  $height: calc(100vh - var(--bulma-navbar-height));
  height: $height;
  min-height: $height;
  max-height: $height;
  overflow-y: hidden;
}

section {
  flex-basis: 100vw;
  max-width: 100vw !important;
  overflow-x: hidden;
  overflow-y: hidden;
}
