.is-fullheight-with-navbar {
  $height: calc(100vh - var(--bulma-navbar-height));
  height: $height;
  min-height: $height;
  max-height: $height;
  overflow-y: hidden;
}

section {
  flex-basis: 100vw;
}
