.navbar {
  max-height: var(--bulma-navbar-height);
}

$nearly-full-height: calc(var(--bulma-navbar-height) - 0.8em);

#brand-logo {
  height: $nearly-full-height;
  max-height: $nearly-full-height;
}

#user-profile-button {
  border-radius: 100%;
  height: $nearly-full-height;
  width: $nearly-full-height;
}
