<nav class="box">
  <div class="menu">
    <p class="menu-label icon-text">
      <span class="icon">
        <ng-icon name="remixMap2Fill"></ng-icon>
      </span>
      <span>Groundwater</span>
    </p>
    <ul class="menu-list">
      <li>
        <a class="icon-text" routerLink="/growl">
          <span class="icon">
            <ng-icon name="remixDatabase2Fill"></ng-icon>
          </span>
          <span>GroWL</span>
        </a>
      </li>
    </ul>
    <p class="menu-label icon-text">
      <span class="icon">
        <ng-icon name="remixSafe2Line"></ng-icon>
      </span>
      <span>Highly Secure</span>
    </p>
    <ul class="menu-list">
      <li [class.unauthorized]="!authorized.needsAuth()">
        <a class="icon-text" routerLink="/needs-auth">
          <span class="icon">
            <ng-icon name="remixFileShield2Fill"></ng-icon>
          </span>
          <span>Needs Auth!</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
