@use "../../variables.scss" as var;

$light-primary: color-mix(in lab, var.$primary 10%, var.$white-ter);

nav {
  height: calc(100% + 2 * var(--bulma-box-padding));
  margin-top: calc(-1 * var(--bulma-box-padding));
  padding: {
    top: calc(2 * var(--bulma-box-padding));
    bottom: calc(2 * var(--bulma-box-padding));
  }
  max-width: 20em;
  width: 20em;
  background-color: color-mix(in lab, $light-primary, black 5%);
  overflow-y: auto;
}

@media (prefers-color-scheme: dark) {
  nav {
    background-color: color-mix(
      in srgb,
      black 40%,
      var(--bulma-box-background-color)
    );
  }
}

.menu-list .unauthorized {
  a,
  a:hover {
    cursor: not-allowed;
    color: color-mix(in srgb, black 60%, var(--bulma-text));
    --bulma-menu-item-background-l-delta: -5%;

    @media (prefers-color-scheme: light) {
      color: color-mix(in srgb, white 20%, var(--bulma-text));
      --bulma-menu-item-background-l-delta: -25%;
    }
  }
}

.menu-list li:not(:last-child) {
  padding-bottom: calc(var(--bulma-box-padding) / 2);
}

.service-status-info {
  $background-color: light-dark(rgb(238, 238, 238), rgb(9, 10, 12));
  $text-color: hsl(
    var(--bulma-black-h),
    var(--bulma-black-s),
    var(--bulma-black-l)
  );

  background-color: $background-color;
  border-radius: var(--bulma-menu-item-radius);
  padding: var(--bulma-menu-list-link-padding);
  color: $text-color;

  &::before {
    content: "";
    position: absolute;
    border-width: 0.75em 0.75em 0 0.75em;
    border-color: $background-color transparent transparent transparent;
    top: 0.85em;
    left: -0.75em;
    border-style: solid;
    transform: rotate(90deg);
  }
}
