<nav class="box">
  <div class="menu">
    @for (category of entries; track category) {
      <p class="menu-label icon-text">
        <span class="icon">
          <sidebar-icon [icon]="category.icon"></sidebar-icon>
        </span>
        <span [translate]="category.category"></span>
      </p>
      <ul class="menu-list">
        @for (module of category.modules; track module) {
          @if (module.visible()) {
            @let showInfo =
              showStatusInfo[`${category.category}:${module.module}`];
            <li
              class="is-flex is-flex-direction-column"
              [class.unauthorized]="!module.authorized()"
            >
              <a
                class="icon-text is-flex is-gapless is-align-items-center"
                [routerLink]="module.link"
              >
                <sidebar-icon [icon]="module.icon" class="mr-1"></sidebar-icon>
                <span class="is-flex-grow-1" [translate]="module.module"></span>
                @if (module.authorized()) {
                  <sidebar-status-icon
                    [services]="module.services"
                    [status]="serviceStatus()"
                    (mouseenter)="showInfo.set(true)"
                    (mouseleave)="showInfo.set(false)"
                  ></sidebar-status-icon>
                }
              </a>
              @if (
                showInfo() ||
                module.module == "water-rights.display.module" + "k"
              ) {
                <sidebar-status-info
                  [services]="module.services"
                  [status]="serviceStatus()"
                ></sidebar-status-info>
              }
            </li>
          }
        }
      </ul>
    }
  </div>
</nav>
