<div class="card my-4">
    <div class="card-content">
      <div class="is-fullwidth has-text-centered my-4">
        <p class="is-size-3 my-4" translate>digitalTwin.header.drainage</p>
      </div>

      <div class="is-flex is-flex-direction-column is-fullwidth my-4">
        @for (rule of drainageRules(); track rule) {
          <div class="card my-2">
            <header class="card-header">
              <p class="card-header-title">{{rule.title}}</p>
              <button class="card-header-icon" (click)="onToogleClick($event, rule.open)">
                <ng-icon [name]="rule.open() ? 'remixArrowUpSLine' : 'remixArrowDownSLine'" size="1.5em"/>
              </button>
            </header>

            @if (rule.open()) {
              <div class="card-content">
                <div class="content">
                  <div class="columns is-desktop">
                    <div class="column is-one-fifth">
                      <div class="is-flex is-flex-direction-row is-fullwidth is-justify-content-center">
                        <ng-icon name="remixRainyLine" size="1.5em" class="mr-4"/>
                        <p translate>digitalTwin.label.rainAmount</p>
                      </div>
                      <div class="is-flex is-flex-direction-row is-fullwidth is-justify-content-center mt-2">
                        <p style="font-size: large; font-weight: bold;">{{rule.rainAmount}} mm</p>
                      </div>
                    </div>
                    <div class="column is-one-fifth">
                      <div class="is-flex is-flex-direction-row is-fullwidth is-justify-content-center">
                        <ng-icon name="remixTimeLine" size="1.5em" class="mr-4"/>
                        <p translate>digitalTwin.label.rainDuration</p>
                      </div>
                      <div class="is-flex is-flex-direction-row is-fullwidth is-justify-content-center mt-2">
                        <p style="font-size: large; font-weight: bold;">{{rule.rainDuration}} min</p>
                      </div>
                    </div>
                    <div class="column is-one-fifth">
                      <div class="is-flex is-flex-direction-row is-fullwidth is-justify-content-center">
                        <ng-icon name="remixContrastDrop2Line" size="1.5em" class="mr-4"/>
                        <p translate>digitalTwin.label.targetLevel</p>
                      </div>
                      <div class="is-flex is-flex-direction-row is-fullwidth is-justify-content-center mt-2">
                        <p style="font-size: large; font-weight: bold;">{{rule.targetLevel}} %</p>
                      </div>
                    </div>
                    <div class="column is-one-fifth">
                      <div class="is-flex is-flex-direction-row is-fullwidth is-justify-content-center">
                        <ng-icon name="remixHistoryLine" size="1.5em" class="mr-4"/>
                        <p translate>digitalTwin.label.drainageForerun</p>
                      </div>
                      <div class="is-flex is-flex-direction-row is-fullwidth is-justify-content-center mt-2">
                        <p style="font-size: large; font-weight: bold;">{{rule.drainageForerun}} min</p>
                      </div>
                    </div>
                     <div class="column">
                      <div class="is-flex is-flex-direction-row is-justify-content-space-evenly">
                        <button (click)="copyDrainageRule($index); drainageRuleModalIndex.set($index); drainageRulesModalOpen.set(true)">
                          <ng-icon name="remixEditLine" size="1.5em" class="mr-4"/>
                        </button>
                        <button (click)="deleteDrainageRule($index)">
                          <ng-icon name="remixDeleteBin6Line" size="1.5em" class="mr-4"/>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>
        }
      </div>

      <div class="is-flex is-flex-direction-row is-fullwidth my-4 is-justify-content-center">
        <button class="button is-primary is-rounded mx-4" 
                (click)="drainageRuleModal.set(newDrainageRule); drainageRulesModalOpen.set(true)">
          <p translate>digitalTwin.button.addRule</p>
        </button>
      </div>

      <div class="modal" [class.is-active]="drainageRulesModalOpen()">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title" translate>digitalTwin.button.addRule</p>
            <button class="delete" aria-label="close" 
                    (click)="drainageRuleModal.set(newDrainageRule); drainageRuleModalIndex.set(undefined); drainageRulesModalOpen.set(false)"></button>
          </header>
          <section class="modal-card-body">
            <div class="columns">
              <div class="column is-narrow">
                <ng-icon name="remixBookMarkedLine" size="1.5em"/>
              </div>
              <div class="column is-onethird">
                <p><span translate>digitalTwin.label.title</span>: </p>
              </div>
              <div class="column">
                <input class="input is-rounded" type="text" [value]="drainageRuleModal().title"
                       (input)="updateDrainageRuleTitle($any($event.target).value)">
              </div>
            </div>

            <div class="columns">
              <div class="column is-narrow">
                <ng-icon name="remixRainyLine" size="1.5em"/>
              </div>
              <div class="column is-onethird">
                <p><span translate>digitalTwin.label.rainAmount</span> (mm): </p>
              </div>
              <div class="column">
                <input class="input is-rounded" type="number" min="0" [value]="drainageRuleModal().rainAmount"
                       (input)="updateDrainageRule('rainAmount', $any($event.target).valueAsNumber)"/>
              </div>
            </div>

            <div class="columns">
              <div class="column is-narrow">
                <ng-icon name="remixTimeLine" size="1.5em"/>
              </div>
              <div class="column is-onethird">
                <p><span translate>digitalTwin.label.rainDuration</span> (min): </p>
              </div>
              <div class="column">
                <input class="input is-rounded" type="number" min="0" max="120" [value]="drainageRuleModal().rainDuration"
                       (input)="updateDrainageRule('rainDuration', $any($event.target).valueAsNumber)"/>
              </div>
            </div>

            <div class="columns">
              <div class="column is-narrow">
                <ng-icon name="remixContrastDrop2Line" size="1.5em"/>
              </div>
              <div class="column is-onethird">
                <p><span translate>digitalTwin.label.targetLevel</span> (%): </p>
              </div>
              <div class="column">
                <input class="input is-rounded" type="number" min="0" max="100" [value]="drainageRuleModal().targetLevel"
                       (input)="updateDrainageRule('targetLevel', $any($event.target).valueAsNumber)"/>
              </div>
            </div>

            <div class="columns">
              <div class="column is-narrow">
                <ng-icon name="remixHistoryLine" size="1.5em"/>
              </div>
              <div class="column is-onethird">
                <p><span translate>digitalTwin.label.drainageForerun</span> (min): </p>
              </div>
              <div class="column">
                <input class="input is-rounded" type="number" min="0" max="120" [value]="drainageRuleModal().drainageForerun"
                       (input)="updateDrainageRule('drainageForerun', $any($event.target).valueAsNumber)"/>
              </div>
            </div>
          </section>
          <footer class="modal-card-foot">
            <div class="buttons">
              <button class="button is-success" 
                     (click)="updateDrainageRules(); drainageRuleModal.set(newDrainageRule); drainageRuleModalIndex.set(undefined); drainageRulesModalOpen.set(false)" 
                      translate>digitalTwin.button.confirm</button>
              <button class="button" 
                     (click)="drainageRuleModal.set(newDrainageRule); drainageRuleModalIndex.set(undefined); drainageRulesModalOpen.set(false)" 
                      translate>digitalTwin.button.cancel</button>
            </div>
          </footer>
        </div>
      </div>
    </div>
</div>