@use "./variables.scss";
@use "../node_modules/bulma/sass/components/navbar.scss" with (
  $navbar-breakpoint: 690px
);
@use "../node_modules/bulma/sass/" as bulma;

@use "../node_modules/bulma-slider/src/sass/" as bulma-slider;
@use "../node_modules/bulma-switch/src/sass" as bulma-switch;
@use "../node_modules/bulma-v1-tooltip/src/sass/" as bulma-tooltip;

@import "../node_modules/maplibre-gl/dist/maplibre-gl.css";

html {
  // override bulma's default behavior
  overflow-y: auto;
}

.is-user-select-none {
  user-select: none;
}

.is-fullwidth {
  width: 100%;
  max-width: 100%;
}

.is-fullheight {
  height: 100%;
  max-height: 100%;
}

.no-main-padding {
  margin: calc(var(--bulma-column-gap) * -1);

  &.is-fullheight {
    $height: calc(100% + 2 * var(--bulma-column-gap));
    height: $height;
    max-height: $height;
  }
}

.maplibregl-map {
  // avoid inherited colors from outer components for the map
  color: bulma.$text;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}
