<div
  class="container is-flex is-flex-direction-column is-fullheight"
  [style.overflow]="'auto'"
>
  @let slice = 20;
  @let heightMC = "30em";
  @let heightMF = "15em";
  @let heightLS = "30em";
  @let heightTable = "20em";

  <div class="columns my-1 is-fullwidth">
    <!--Graph Field-->
    <div class="column is-two-fifths">
      <div
        class="box is-flex is-flex-direction-column mx-1"
        [style.height]="heightMC"
      >
        <h1 class="title has-text-centered is-size-3">
          {{ "be-water-smart.titles.chart" | translate }}
        </h1>

        <canvas
          baseChart
          [data]="chartData"
          [options]="chartOptions"
          [type]="chartType"
          [plugins]="chartPlugins"
        ></canvas>
        <!-- dummy div to grow the box-->
        <div class="is-flex-grow-1"></div>
        <div class="has-text-centered">
          <button class="button is-primary" (click)="getForecast()">
            {{ "be-water-smart.buttons.forecast" | translate }}
          </button>
        </div>
      </div>
    </div>

    <!-- Model Field-->
    <div class="column is-three-fifths">
      <div class="box mx-1" [style]="{height: heightMC, 'overflow-y': 'auto'}">
        <h1 class="title has-text-centered is-size-3">
          {{ "be-water-smart.titles.model_select" | translate }}
        </h1>

        <div
          class="table-container"
          [style]="{overflow: models() ? 'auto' : 'hidden'}"
        >
          <table class="table is-hoverable is-fullwidth">
            <thead class="has-background-dark">
              <tr>
                <th class="has-text-centered has-text-white"></th>
                <th class="has-text-centered has-text-white">
                  {{ "be-water-smart.model_training.algorithm" | translate }}
                </th>
                <th class="has-text-centered has-text-white">
                  {{
                    "be-water-smart.model_training.virtual_meter" | translate
                  }}
                </th>
                <th class="has-text-centered has-text-white">
                  {{ "be-water-smart.model_training.comment" | translate }}
                </th>
                <th class="has-text-centered has-text-white">MAPE</th>
                <th class="has-text-centered has-text-white">MSE</th>
                <th class="has-text-centered has-text-white">RMSE</th>
                <th class="has-text-centered has-text-white">SMAPE</th>
                <th class="has-text-centered has-text-white"></th>
              </tr>
            </thead>
            <tbody>
              @if (models().length === 0) {
                <tr>
                  <td colspan="9" class="has-text-centered">
                    {{ "be-water-smart.no_data" | translate }}
                  </td>
                </tr>
              }
              @for (item of models(); track $index) {
                <tr>
                  <td class="is-narrow">
                    <label class="checkbox">
                      <input
                        type="checkbox"
                        [checked]="selectedModel() === item"
                        [disabled]="selectedModel() && selectedModel() !== item"
                        (change)="toggleSelectedModel(item)"
                      />
                    </label>
                  </td>
                  <td class="is-narrow has-text-centered">
                    <abbr title="{{ item.algorithm }}">
                      {{ item.algorithm.slice(0, 7) }}
                    </abbr>
                  </td>
                  <td class="has-text-centered">
                    <abbr title="{{ item.refMeter }}">
                      {{
                        (item.refMeter | removeSubstring: prefixes[0]).slice(
                          0,
                          slice
                        )
                      }}
                    </abbr>
                  </td>
                  <td class="has-text-centered">
                    <abbr title="{{ item.comment }}">
                      {{ item.comment.slice(0, slice) }}
                    </abbr>
                  </td>
                  <td class="has-text-centered">
                    <abbr title="{{ item.evaluation.metrics.mape }}">
                      {{ item.evaluation.metrics.mape | number: "1.2-2" }}
                    </abbr>
                  </td>
                  <td class="has-text-centered">
                    <abbr title="{{ item.evaluation.metrics.mse }}">
                      {{ item.evaluation.metrics.mse | number: "1.4-4" }}
                    </abbr>
                  </td>
                  <td class="has-text-centered">
                    <abbr title="{{ item.evaluation.metrics.rmse }}">
                      {{ item.evaluation.metrics.rmse | number: "1.4-4" }}
                    </abbr>
                  </td>
                  <td class="has-text-centered">
                    <abbr title="{{ item.evaluation.metrics.smape }}">
                      {{ item.evaluation.metrics.smape | number: "1.2-2" }}
                    </abbr>
                  </td>
                  <td class="is-narrow has-text-centered">
                    <button
                      class="button is-danger is-small"
                      (click)="
                        deleteModel(item.refMeter, item.algorithm, $index)
                      "
                    >
                      <ng-icon
                        name="remixDeleteBin5Line"
                        size="1.5em"
                      ></ng-icon>
                    </button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="columns my-1 is-fullwidth">
    <!-- Train Model Field -->
    <div class="column is-full">
      <div
        class="box is-flex is-flex-direction-column has-text-centered mx-1"
        [style.height]="heightMF"
      >
        <h1 class="title is-size-3">
          {{ "be-water-smart.titles.model_train" | translate }}
        </h1>

        <div class="field is-grouped is-justify-content-center">
          <!-- Choose Algorithm -->
          <div class="control" [style.width]="'max(17em, 20%)'">
            <label class="label" for="algorithmSelect">{{
              "be-water-smart.model_training.algorithm" | translate
            }}</label>
            <dropdown
              [menuName]="menuAlgorithm()"
              [options]="optionsAlgorithm()"
              [changeMenuName]="true"
              kind="hover"
              buttonSize="250px"
              (choice)="choiceAlgorithm.set($event)"
            ></dropdown>
          </div>

          <!-- Choose Virtual Meter -->
          <div class="control" [style.width]="'20%'">
            <label class="label" for="virtualMeterSelect">{{
              "be-water-smart.model_training.virtual_meter" | translate
            }}</label>
            <dropdown
              [menuName]="menuVirtualMeter()"
              [options]="optionsVirtualMeter()"
              [changeMenuName]="true"
              kind="hover"
              buttonSize="250px"
              (choice)="choiceVirtualMeter.set($event)"
            ></dropdown>
          </div>

          <!-- Create a Comment -->
          <div class="control" [style.width]="'20%'">
            <label class="label" for="commentSelect">{{
              "be-water-smart.model_training.comment" | translate
            }}</label>
            <input
              type="text"
              class="input is-fullwidth"
              id="commentSelect"
              placeholder="{{ 'be-water-smart.hints.comment' | translate }}"
              [(ngModel)]="modelComment"
            />
          </div>
        </div>

        <!-- dummy div to grow the box-->
        <div class="is-flex-grow-1"></div>

        <!-- Training Button -->
        <div>
          <button class="button is-primary" (click)="trainModel()">
            {{ "be-water-smart.buttons.model_train" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="columns my-1 is-fullwidth">
    <!-- Physical Meter Field-->
    <div class="column is-half">
      <div class="box mx-1" [style.height]="heightLS">
        <h1 class="title is-size-3 has-text-centered">
          {{ "be-water-smart.titles.smart_meter" | translate }}
        </h1>

        <div
          class="table-container"
          [style]="{
            height: heightTable,
            overflow: pMeters() ? 'auto' : 'hidden',
          }"
        >
          <table class="table is-hoverable is-fullwidth">
            <thead class="has-background-dark">
              <tr>
                <th class="has-text-centered has-text-white"></th>
                <th class="has-text-centered has-text-white">
                  {{ "be-water-smart.tables.name" | translate }}
                </th>
                <th class="has-text-centered has-text-white">
                  {{ "be-water-smart.tables.date" | translate }}
                </th>
                <th class="has-text-centered has-text-white">
                  {{ "be-water-smart.tables.locality" | translate }}
                </th>
                <th class="has-text-centered has-text-white">
                  {{ "be-water-smart.tables.address" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              @if (pMeters().length === 0) {
                <tr>
                  <td colspan="5" class="has-text-centered">
                    {{ "be-water-smart.no_data" | translate }}
                  </td>
                </tr>
              }
              @for (item of pMeters(); track $index) {
                <tr>
                  <td class="is-narrow">
                    <label class="checkbox">
                      <input
                        type="checkbox"
                        [checked]="selectedPhysicalMeters().includes(item)"
                        (change)="
                          toggleSelectedMeter(
                            item,
                            $event,
                            selectedPhysicalMeters
                          )
                        "
                      />
                    </label>
                  </td>
                  <td class="is-narrow has-text-centered">
                    <abbr title="{{ item.id }}">
                      {{
                        (item.id | removeSubstring: prefixes[1]).slice(0, slice)
                      }}
                    </abbr>
                  </td>
                  <td class="is-narrow has-text-centered">
                    <abbr title="{{ item.date }}">
                      {{ item.date | date: "dd.MM.yyyy hh:mm:ss" }}
                    </abbr>
                  </td>
                  <td class="is-narrow has-text-centered">
                    <abbr title="{{ item.address.addressLocality }}">
                      {{ item.address.addressLocality.slice(0, slice) }}
                    </abbr>
                  </td>
                  <td class="is-narrow has-text-centered">
                    <abbr title="{{ item.address.streetAddress }}">
                      {{ item.address.streetAddress.slice(0, slice) }}
                    </abbr>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>

        <!--Form Field for adding Virtual Meter-->
        <div class="field is-grouped is-grouped-centered">
          <div class="control">
            <input
              class="input"
              type="text"
              size="25"
              [(ngModel)]="newVMeterName"
              placeholder="{{
                'be-water-smart.hints.virtual_meter_name' | translate
              }}"
            />
          </div>
          <div class="control">
            <button
              class="button is-primary"
              [disabled]="!selectedPhysicalMeters().length"
              (click)="addVMeter(selectedPhysicalMeters(), newVMeterName())"
            >
              <ng-icon name="remixAddLine" size="1.5em"></ng-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Virtual Meter Field-->
    <div class="column is-half">
      <div class="box mx-1" [style.height]="heightLS">
        <h1 class="title has-text-centered is-size-3">
          {{ "be-water-smart.titles.virtual_meter" | translate }}
        </h1>

        <!-- Table to show all VirtualMeters -->
        <div
          class="table-container"
          [style]="{
            height: heightTable,
            overflow: vMeters() ? 'auto' : 'hidden',
          }"
        >
          <table class="table is-hoverable is-fullwidth">
            <thead class="has-background-dark">
              <tr>
                <th class="has-text-centered has-text-white"></th>
                <th class="has-text-centered has-text-white">
                  {{ "be-water-smart.tables.name" | translate }}
                </th>
                <th class="has-text-centered has-text-white">
                  {{ "be-water-smart.tables.date" | translate }}
                </th>
                <th class="has-text-centered has-text-white">
                  {{ "be-water-smart.tables.submeters" | translate }}
                </th>
                <th class="has-text-centered has-text-white">
                  {{ "be-water-smart.tables.supermeters" | translate }}
                </th>
                <th class="has-text-centered has-text-white"></th>
              </tr>
            </thead>
            <tbody>
              @if (vMeters().length === 0) {
                <tr>
                  <td colspan="6" class="has-text-centered">
                    {{ "be-water-smart.no_data" | translate }}
                  </td>
                </tr>
              }
              @for (item of vMeters(); track $index) {
                <tr>
                  <td class="is-narrow">
                    <label class="checkbox">
                      <input
                        type="checkbox"
                        [checked]="selectedVirtualMeters().includes(item)"
                        (change)="
                          toggleSelectedMeter(
                            item,
                            $event,
                            selectedVirtualMeters
                          )
                        "
                      />
                    </label>
                  </td>
                  <td class="is-narrow has-text-centered">
                    <abbr title="{{ item.id }}">
                      {{
                        (item.id | removeSubstring: prefixes[0]).slice(0, slice)
                      }}
                    </abbr>
                  </td>
                  <td class="is-narrow has-text-centered">
                    <abbr title="{{ item.dateCreated }}">
                      {{ item.dateCreated | date: "dd.MM.yyyy hh:mm:ss" }}
                    </abbr>
                  </td>
                  <td class="is-narrow has-text-centered">
                    <abbr title="{{ item.submeterIds }}">
                      {{ item.submeterIds.length }}
                    </abbr>
                  </td>
                  <td class="is-narrow has-text-centered">
                    <abbr title="{{ item.supermeterIds }}">
                      {{ item.supermeterIds.length }}
                    </abbr>
                  </td>
                  <td class="is-narrow has-text-centered">
                    <button
                      class="button is-danger is-small"
                      (click)="deleteVMeterById(item.id, $index)"
                    >
                      <ng-icon
                        name="remixDeleteBin5Line"
                        size="1.5em"
                      ></ng-icon>
                    </button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>

        <!--Form Field for adding Virtual Meter-->
        <div class="field is-grouped is-grouped-centered">
          <div class="control">
            <input
              class="input"
              type="text"
              size="25"
              [(ngModel)]="newSuperMeterName"
              placeholder="{{
                'be-water-smart.hints.supermeter_name' | translate
              }}"
            />
          </div>
          <div class="control">
            <button
              class="button is-primary"
              [disabled]="!selectedVirtualMeters().length"
              (click)="addVMeter(selectedVirtualMeters(), newSuperMeterName())"
            >
              <ng-icon name="remixAddLine" size="1.5em"></ng-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
