<div>
  <div class="is-flex is-flex-direction-row is-fullwidth is-justify-content-center my-4">
    <p class="is-size-3 my-4" translate>braintank.history.header.daySelection</p>
    <div class="is-flex is-flex-direction-column is-justify-content-center mx-4">
      <input type="date" style="height: 2rem;"/>
    </div>
  </div>

  <div class="card my-4">
    <div class="card-content">
      <div class="is-fullwidth has-text-centered my-4">
          <p class="is-size-3 my-4" translate>braintank.history.header.waterLevel</p>
      </div>
      
      <ng-container chart>
        <div class="is-fullwidth" style="height: 22rem;">
          @let optionsWaterLevel = {
            scales: {
              x: {
                grid: {
                  display: false,
                },
              },
              y: {
                grid: {
                  display: false,
                },
                title: {
                  display: true,
                  text: '%',
                },
                suggestedMin: 0,
                suggestedMax: 100,
              },
            },
            plugins: {
              legend: {
                display: false,
              },
            },
          };
          <canvas baseChart style="display: block; width: 100%; height: 100%;" [data]="dataWaterLevel" [options]="optionsWaterLevel" [type]="'line'"></canvas>
        </div>
      </ng-container>
  </div>

  <div class="card my-4">
    <div class="card-content">
      <div class="is-fullwidth has-text-centered my-4">
          <p class="is-size-3 my-4" translate>braintank.history.header.drainage</p>
      </div>
      
      <ng-container chart>
        <div class="is-fullwidth" style="height: 22rem;">
          @let optionsDrainage = {
            scales: {
              x: {
                grid: {
                  display: false,
                },
              },
              y: {
                grid: {
                  display: false,
                },
                title: {
                  display: true,
                  text: 'min',
                },
                beginAtZero: true,
                suggestedMax: 60,
              },
            },
            plugins: {
              legend: {
                display: false,
              },
            },
          };
          <canvas baseChart style="display: block; width: 100%; height: 100%;" [data]="dataDrainage" [options]="optionsDrainage" [type]="'bar'"></canvas>
        </div>
      </ng-container>
  </div>

  <div class="card my-4">
    <div class="card-content">
      <div class="is-fullwidth has-text-centered my-4">
          <p class="is-size-3 my-4" translate>braintank.overview.header.rainForecast</p>
      </div>
      
      <ng-container chart>
        <div class="is-fullwidth" style="height: 22rem;">
          @let optionsRainForecast = {
            scales: {
              x: {
                grid: {
                  display: false,
                },
              },
              y: {
                grid: {
                  display: false,
                },
                title: {
                  display: true,
                  text: 'mm',
                },
                beginAtZero: true,
                suggestedMax: 25,
              },
            },
            plugins: {
              legend: {
                display: false,
              },
            },
          };
          <canvas baseChart style="display: block; width: 100%; height: 100%;" [data]="dataRainForecast" [options]="optionsRainForecast" [type]="'bar'"></canvas>
        </div>
      </ng-container>
  </div>
</div>