<div
  class="dropdown is-fullwidth"
  [class.is-up]="isUp()"
  [class.is-hoverable]="!disabled() && kind() == 'hover'"
  [class.is-active]="isActive() && !disabled()"
  (mouseenter)="kind() == 'hover' && isActive.set(true)"
  (mouseleave)="kind() == 'hover' && isActive.set(false)"
>
  <div class="dropdown-trigger is-fullwidth">
    <button
      [disabled]="disabled()"
      class="button is-rounded is-fullwidth"
      (click)="kind() == 'click' && isActive.set(!isActive())"
    >
      <span class="has-stack">
        @if (maxWidth()) {
@for (possibleDisplay of possibleDisplays(); track possibleDisplay) {
          <span class="is-invisible" aria-hidden="true">{{possibleDisplay | translate}}</span>
        }
        }
        <span class="is-flex-grow-1">
          {{changeMenuName() ? (choiceName() | translate) : (menuName() | translate)}}
        </span>
      </span>
      <span class="icon is-small">
        <ng-icon *ngIf="arrowUp()" name="remixArrowUpSLine"></ng-icon>
        <ng-icon *ngIf="!arrowUp()" name="remixArrowDownSLine"></ng-icon>
      </span>
    </button>
  </div>
  <div class="dropdown-menu is-fullwidth" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      @for (item of optionsIter(); track item[0]) {
        <a
          (click)="choice.set(item[0])"
          class="dropdown-item"
          style="padding-inline-end: 1rem"
        >
          {{ item[1] | translate }}
        </a>
      }
    </div>
  </div>
</div>
