@let waterRight = data()?.waterRight;
<!-- @let usageLocations = data()?.usageLocations; -->

@if (waterRight) {
  <div class="card is-fullheight" style="overflow: auto">
    <div class="card-header">
      <div class="card-header-title">
        {{ waterRight.subject }}
      </div>
    </div>
    <div class="card-image" style="height: 20rem">
      <mgl-map
        class="is-fullheight"
        [style]="mapData.style"
        [fitBounds]="$any(mapData.fitBounds())"
      >
        <mgl-control
          position="top-left"
          mglNavigation
          [showCompass]="false"
        ></mgl-control>
        @if (mapData.usageLocations()) {
          <mgl-geojson-source
            id="usage-locations-source"
            [data]="mapData.usageLocations()!"
          ></mgl-geojson-source>
          <mgl-layer
            id="usage-locations-symbol"
            type="symbol"
            source="usage-locations-source"
            [layout]="{
              'icon-image': 'remixicon:map-pin-2-line',
              'icon-anchor': 'bottom',
              'icon-overlap': 'always',
              'text-field': ['get', 'name'],
              'text-font': ['noto_sans_regular'],
              'text-anchor': 'top',
              'text-optional': true,
            }"
          ></mgl-layer>
        }
      </mgl-map>
    </div>
    <div class="card-content"></div>
  </div>
}
